---
import Next from "./icons/Next.astro";
import Tailwind from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import File from "./icons/File.astro";
import GitHub from "./icons/Github.astro";
import Link from "./icons/Link.astro";
import Css from "./icons/Css.astro";
import Django from "./icons/Django.astro";
import Docker from "./icons/Docker.astro";
import Mysql from "./icons/Mysql.astro";
import Nodered from "./icons/Nodered.astro";
import React from "./icons/React.astro";
import OpenAI from "./icons/Openai.astro";
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Next,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: Css,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#092e20] text-white",
    icon: Django,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#2496ed] text-white",
    icon: Docker,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758f] text-white",
    icon: Mysql,
  },
  NODERED: {
    name: "Node-RED",
    class: "bg-[#8f0000] text-white",
    icon: Nodered,
  },
  REACT: {
    name: "React",
    class: "bg-[#61dafb] text-black",
    icon: React,
  },
  OPENAI: {
    name: "OpenAI API",
    class: "bg-[#f0f0f0] text-black",
    icon: OpenAI,
  },
};
const PROJECTS = [
  {
    title: "Harmony LTD",
    description:
      "Proyecto para la asignatura de Ingeniería del Software y Práctica Profesional de la Universidad de Sevilla. Se realizó un sistema de información para dos organizaciones sin ánimo de lucro (Asociación Tertulia Cofrade Cirio y Costal y Asociación Ciudadana de Ayuda al Toxicómano). Mi papel en este proyecto fue el de DevOps y Project Manager de un equipo de 17 estudiantes.",
    link: "https://htld-doc.vercel.app",
    image: "/projects/ispp.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    github: "https://github.com/orgs/ISPP-07/repositories",
  },
  {
    title: "STATUS (POC)",
    description:
      "Prueba de concepto orientada al desarrollo de un sistema de gestión de conformidad de procesos de negocios de la Universad de Sevilla. Mi papel en este proyecto es el de técnico especialista.",
    link: "https://status-landing-page.vercel.app",
    image: "/projects/status.webp",
    tags: [TAGS.DOCKER, TAGS.NODERED, TAGS.REACT, TAGS.MYSQL, TAGS.CSS],
    github: "https://github.com/orgs/statuscompliance/repositories",
  },
  {
    title:
      "Gestión inteligente de la conformidad en procesos mediante flujos en Node-RED (TFG)",
    description:
      "Desarrollo en individual de un chatbot de soporte para el modelado de flujos que miden la conformidad de procesos de negocio. Para ello, se ha utilizado la API de OpenAI para el procesamiento del lenguaje natural.",
    link: "https://status-docs.netlify.app/docs/Tooling/openAI",
    image: "/projects/chatbot.webp",
    tags: [TAGS.NODERED, TAGS.OPENAI, TAGS.REACT, TAGS.CSS],
    github: "https://github.com/statuscompliance/status-frontend",
    file: "TFG_Alvbercau.pdf",
  },
  {
    title: "Decide",
    description:
      "Aportación a la plataforma de voto electrónica 'decide' para la asignatura de Evolución y Gestión de la Configuración. Mi papel en este proyecto fue el de Desarrollador Full Stack y Project Manager de un equipo de 12 estudiantes.",
    link: "https://github.com/EGC-23-24/decide-part-lorca/wiki/Documento-del-proyecto",
    image: "/projects/decide.webp",
    tags: [TAGS.DJANGO, TAGS.TAILWIND, TAGS.DOCKER],
    github: "https://github.com/EGC-23-24/decide-part-lorca",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, file }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
              {file && (
                <LinkButton href={file}>
                  <File class="size-4" />
                  File
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
